.navbar{
    padding: 0 10% 0 10%;
}

.rows{
    padding: 10%;
}

.GreyT{
    color: darkgrey;
    font-size: 14px;
}
#logoh{
    width: auto;
    height: 25px;
}

.whiteHeadings{
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    margin: -9px 0 -9px 0;
}

hr{
    border: 1px inset white;
    width: 50px;
    margin-left: 0px;
    margin-top: 25px;
}


.r2{
    background: url("IMAGES/image.png") no-repeat;
    background-size:auto;
}

#logo2{
    margin-bottom: 20px;
}

.downloadB{
    background:none;
    border-color: white;
    border-style: ridge;
    color: white;
    font-weight: bold;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
    margin-top: 20px;
}

#s1{
    color: #ff9900;
}

.r21{
    background-color: #F5F5F5;
    padding: 4%;
    height: 45px;
    font-weight: bold;
}

.r22{
    background-color: white;
    padding: 10%;
    height: 210px;
}

.r23{
    background-color: #ff9933;
    color: white;
    height: 45px;
    padding: 4%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.i{
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #eee;
    width: 100%;
    font-size: 12px;
    height: 30px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cccccc
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cccccc
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cccccc
}

/*------------r2-----------*/

.footer{
    padding: 1% 10% 0 10%;
    border-bottom: thin solid darkgrey;
}

.blackHeadings{
    font-weight: bold;
}

#socialMedia{
    margin-bottom: 0px;
}

.icons{
    color:darkgrey;
    margin: 2% 0 0 0;
}

.r12{
    background-color: black;
    color: darkgrey;
    font-size: 11px;
}
